<app-navbar></app-navbar>

<div class="wrapper">
  <div class="container" *ngIf="bedroom">
    <h1>{{ bedroom.title }}</h1>
    <div class="image-container">
      <img [src]="bedroom.image" [alt]="bedroom.title">
    </div>
    <div class="details">

      <div class="left-column">
        <h4>Disfruta de un buen servicio con {{bedroom.title}}, una habitación que te ayuda a descansar</h4>
        <div class="feature">
          <i class="fas fa-medal"></i>
          <span> {{bedroom.description}}</span>
        </div>
        <div class="feature">
          <i class="fas fa-user-friends"></i>
          <span> Anfitrión: {{bedroom.host}}, con años de experiencia en el servicio</span>
        </div>
        <div class="feature">
          <i class="fas fa-building"></i>
          <span> Categoria de servicios "{{ bedroom.category }}"</span>
        </div>
        <div class="feature">
          <i class="fas fa-map"></i>
          <span> Alojamiento ubicado en {{ bedroom.location }}</span>
        </div>
        <br>
        <h4>Descrube más del lugar</h4>
        <span> {{ bedroom.fullDescription }}</span>
        <br>
        <h4>Lo que este lugar ofrece</h4>
        <div class="amenities">
          <div class="amenity" *ngFor="let service of bedroom.services">
            <i class="fas fa-star"></i> {{ service }}
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="price">{{ bedroom.price | currency:'MXN':'symbol-narrow' }} MXN <span>noche</span></div>
        <div class="price-details">
          <p>Registra las noches que desas pasar en el {{ bedroom.title }}
          <p>
          <p>Incluye los huéspedes necesarios</p>
          <p>
            Puedes comenzar a reservar haz clic aqui abajo.
          </p>
        </div>
        <button [routerLink]="['/reservation', bedroom._id]">Reservar</button>
      </div>
    </div>
  </div>
</div>

<app-comentarios [idCasa]="bedroom._id"></app-comentarios>
<app-footer></app-footer>