<div class="card mb-3" style="max-width: 540px;" *ngIf="dataComentario !== null">
  <div class="row g-0">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">{{dataComentario.autor}}</h5>
        <!-- TODO: Cambiar el valor númerico por estrellas -->
        <h6><b>{{dataComentario.calificacion}}</b></h6>
        <p class="card-text">{{dataComentario.comentario}}</p>
        <p class="card-text"><small class="text-body-secondary">{{dataComentario.fecha}}</small></p>
      </div>
    </div>
  </div>
</div>
