<header class="airbnb-header">
  <div class="logo">
    <a href="">
      <img src="assets/img/InstaHub.png" alt="InstaHub">
    </a>
  </div>
  <nav>
  </nav>
  <div class="user-menu">
    <div>
      <button *ngIf="isLoggedIn && userRole && !isOnHostHomePage" class="host-home-button" (click)="goToHostHome()">Ver como Host</button>
    </div>
    <!-- <div>
      <button *ngIf="isLoggedIn && userRoleA && !isOnAdminHomePage" class="admin-home-button" (click)="goToAdminHome()">Ver como Administrador</button>
    </div>   -->
    
    <button *ngIf="!isLoggedIn && !isOnRegisterPage" class="host-button" (click)="goToRegister()">Convierte tu casa en InstaHub</button>
    <div class="user-menu-container" *ngIf="isLoggedIn">
      <button class="user-button" (click)="toggleMenu()">
        <div class="user-info">
          <span class="user-icon">👤</span>
          <span class="user-name">{{ userName }}</span>
        </div>
        <span class="menu-icon">☰</span>
      </button>
      <div class="dropdown-menu" *ngIf="menuOpen">
        <button class="dropdown-item" (click)="logout()">Logout</button>
      </div>
    </div>
    <button *ngIf="!isLoggedIn" class="user-button">
      <a href="/login">
        <span class="user-icon">👤</span>
      </a>
    </button>
  </div>
</header>
