<header class="airbnb-header">
  <div class="logo">
    <a href="">
      <img src="assets/img/InstaHub.png" alt="InstaHub">
    </a>
  </div>
  <nav>
    <ul>
      <li class="active">Estancias</li>
      <li>Experiencias</li>
    </ul>
  </nav>
  <div class="user-menu">
    <button class="host-button">Convierte tu casa en InstaHub</button>
    <button class="user-button">
      <span class="menu-icon">☰</span>
      <!-- El ícono del menú siempre se muestra -->
    </button>
    <!-- Solo muestra el ícono de usuario si el usuario NO está logueado -->
    <button class="user-button" *ngIf="!isLoggedIn">
      <a href="/login">
        <span class="user-icon">👤</span>
      </a>
    </button>
  </div>
</header>
