<app-navbar></app-navbar>
<div class="container mt-4">
  <h1 class="text-center">Mis Habitaciones Registradas</h1>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="rooms.length > 0; else noRooms">
    <div class="row">
      <div class="col-md-4" *ngFor="let room of rooms">
        <div class="card mb-3">
          <img src="{{ room.image }}" class="card-img-top" alt="{{ room.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ room.title }}</h5>
            <p class="card-text">{{ room.description }}</p>
            <p class="card-text"><small class="text-muted">{{ room.location }}</small></p>
            <p class="card-text"><strong>{{ room.price | currency }}</strong> por noche</p>
            <a [routerLink]="['/room-details', room._id]" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noRooms>
    <p class="text-center">No tienes habitaciones registradas.</p>
  </ng-template>
</div>
<app-footer></app-footer>
