<app-navbar></app-navbar>

<body>

    <div class="wrapper">
        <section class="container">
            <section class="one">
                <br>
                <p> Realiza tu reservación ahora
                </p>
                <form [formGroup]="reservacionForm" (ngSubmit)="agregarReservacion()">
                    <h2 class="heading" *ngIf="bedroom">
                        Habitación:
                        <h2>{{ bedroom.title }}</h2>
                    </h2>
                    <label>Fecha de Ingreso</label>
                    <input type="date" formControlName="fecha_ingreso" required>
                    <label>Fecha de Termino</label>
                    <input type="date" formControlName="fecha_termino" required>
                    <label>Hora de Llegada</label>
                    <input type="time" formControlName="hora_llegada" required>
                    <label>Fecha de Salida</label>
                    <input type="time" formControlName="hora_salida" required>
                    <label>Cantidad de Huespedes</label>
                    <input type="number" formControlName="huespedes" placeholder="Huespedes">
                    <button role="button">
                        Hacer Reservación
                    </button>
                </form>
            </section>
        </section>
    </div>
</body>