<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>Sección Comentarios</h1>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <h5 class="text-center">Calíficanos</h5>
  </div>
  <hr>
  <div class="row">
    <!-- Calificación Actual -->
    <div class="col-md-5">
      <div class="row" *ngFor="let estadistica of constEstrellas">
        <div class="col-md-5">
          <b>{{estadistica}} Estrella</b> {{ getPorcentaje(estadisticas['estrella'+estadistica].porcentaje) }}%
        </div>
        <div class="col-md-7">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="{'width.%': estadisticas['estrella'+estadistica].porcentaje }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mt-2" style="margin-left: 10px;">
          <b>{{ estadisticas.totalCalificaciones }}</b> calificaciones globales <br>
          <b>{{ estadisticas.promedio }}</b> de 5 estrellas
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <!-- Nuevo comentario -->
    <div class="col-md-5" [formGroup]="formComentario">
      <div class="mb-3">
        <label for="autor" class="form-label">Autor</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ formComentario.get('autor')?.value }}</span>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="autor" class="form-label">Calificación</label>
        <!-- <input type="text" class="form-control" id="autor" placeholder="" maxlength="1" formControlName="calificacion"> -->
         <app-calificar-por-estrella [rating]="formComentario.get('calificacion')?.value" (ratingChange)="setCalificacion($event)"></app-calificar-por-estrella>
      </div>
      <div class="mb-3">
        <label for="comentario" class="form-label">Comentario</label>
        <textarea class="form-control" id="comentario" rows="3" formControlName="comentario" maxlength="250"></textarea>
      </div>
      <div *ngIf="messageError !== '' ">
        <b class="text-danger">{{messageError}}</b>
      </div>
      <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" (click)="enviarComentario()">Enviar</button>
      </div>
    </div>
  </div>
  <hr>
</div>

<!-- Comentarios existentes -->
<div class="container">
  <div class="row row-justify-center">
    <app-comentario class="col-md-4" *ngFor="let comentario of comentarios" [comentario]="comentario" (refresh)="getComentarios(id)"></app-comentario>
  </div>
</div>
