<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>Sección Comentarios</h1>
    </div>
  </div>
</div>

<!-- Nuevo comentario -->
<div class="container">
  <div>
    <h5 class="text-center">Calíficanos</h5>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" [formGroup]="formComentario">
      <div class="mb-3">
        <label for="autor" class="form-label">Autor</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ formComentario.get('autor')?.value }}</span>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="autor" class="form-label">Calificación</label>
        <input type="text" class="form-control" id="autor" placeholder="" maxlength="1" formControlName="calificacion">
      </div>
      <div class="mb-3">
        <label for="comentario" class="form-label">Comentario</label>
        <textarea class="form-control" id="comentario" rows="3" formControlName="comentario" maxlength="250"></textarea>
      </div>
      <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" (click)="enviarComentario()">Enviar</button>
      </div>
    </div>
  </div>
  <hr>
</div>

<!-- Comentarios existentes -->
<div class="container">
  <div class="row">
    <app-comentario class="col-md-4" *ngFor="let comentario of comentarios" [comentario]="comentario"></app-comentario>
  </div>
</div>
